<div
	class="card">
	{# Je passe mon image faker #}
	<img src="{{ p.mainPicture }}" class="img-fluid" alt="Photo d'un produit">
	<div
		class="card-body">
		{# Je passe mon titre et le prix faker #}
		<h4 class="card-title">{{ p.name }}
			{{ p.price /100  }}
			&euro;</h4>

		<span class="badge bg-info badge-info">
			{{ p.category.name }}
		</span>


		{# Je passe ma description faker #}
		<p class="card-text">{{ p.shortDescription }}</p>

		<a href="{{ path('product_show',{ 'category_slug':p.category.slug, 'slug' : p.slug }) }}" class="btn btn-primary btn-sm">Détails</a>

		{# Pour afficher le panier, ne pas oublier d'ajouter le tableau associatif qui donne l'id du produit #}
		<a href="{{ path('app_cart_add', {'id': p.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
	</div>
</div>
