{% extends "base.html.twig" %}

{% block title %}
	Categorie:
	{{ slug }}
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Boutique</a></li>
  <li class="breadcrumb-item"><a href="#">{{ category.name }}</a></li>
</ol>

	<h1>Catégorie :
		{{ category.name }}</h1>


	
	<div class="row">
		{# Pour chaque produit à l'interrieur de la catégorie du tableau produts #}
		{% for p in category.produts %}
        {# Je remets mes cards produits #}
			<div class="col-4">				
				<div class="card">
					{# Je passe mon image faker #}
					<img src="{{ p.mainPicture }}" class="img-fluid" alt="Photo d'un produit">
					
					<div class="card-body">
						{# Je passe mon titre et le prix faker #}
						<h4 class="card-title">{{ p.name }}
							{{ p.price /100  }}
							&euro;</h4>

						<span class="badge bg-info badge-info">
							{{ p.category.name }}
						</span>


						{# Je passe ma description faker #}
						<p class="card-taxt">{{ p.shortDescription }}</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
